<h1>Book Collection</h1>
<p>Welcomes to the Book Collection Website. Here you can add, edit, and delete books.</p>

<%= link_to("About", {action: "about"}) %><br />
<%= link_to("Books", books_path()) %><br />
