<h1>Book Collection</h1>
<p>This website manages Books.</p>

<%= link_to("Book", {controller: "books", action: "index", page: 1}) %><br />

<%= link_to("About", {action: "about", page:5, id: 20}) %><br />
