<h1>Book Collection</h1>
<p>This website manages Books.</p>

<%= link_to("Categories", categories_path) %><br />
<%= link_to("Book", books_path(page: 1)) %><br />

<%= link_to("About", {action: "about", page:5, id: 20}) %><br />
